name: Build and Test

on:
  push:
    branches: main
  pull_request:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: cachix/install-nix-action@v31
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Install cachix
        uses: cachix/cachix-action@v16
        with:
          name: haskell-miso-cachix

      - name: Channel update
        run: nix-channel --add https://nixos.org/channels/nixpkgs-unstable && nix-channel --update

      - name: Test
        run: nix-env -iA haskellPackages.hspec-discover -f '<nixpkgs>' && nix develop --command bash -c "cabal update && cabal test"
